@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.product-amount {
  border: 0 solid transparent;
  background-color: transparent;
  color: $body-color;
  padding: 0;
  max-width: 4rem;
}
.list-group span {
  float: right;
  width: 94px;
}

.loader {
  margin: .5rem 0 .4rem 115px;
}
